.errors {
    color: red;
}




.uploadSongForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 620px;
    padding: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px #1DB954;
    -moz-box-shadow: 0 0 20px #1DB954;
    box-shadow: 0 0 20px #1DB954;
    margin-top: 10%;
}


.updateBtn{
        background-color: #1DB954;
        border-radius: 10px;
        margin-top: 8%;
}
