.singlePage{
    display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  margin: 25px;
  border: 20px;
  padding: 20px;
  float: left;
  border-radius: 18px;
  -webkit-box-shadow:0 0 20px #1DB954;
-moz-box-shadow: 0 0 20px #1DB954;
box-shadow:0 0 20px #1DB954;
color: black;
font-weight: bolder;
text-decoration: none;
}
