.singlePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 25px;
  border: 20px;
  padding: 20px;
  float: left;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 20px #1DB954;
  -moz-box-shadow: 0 0 20px #1DB954;
  box-shadow: 0 0 20px #1DB954;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}


.editBtn {
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background-color: lightblue;
}


.commentSection {
  display: flexbox;
  position: absolute;
  right: 0;
  margin-right: 31%;
  margin-top: 10%;
}


.songImg1 {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  justify-content: center;
}

.commentCreator {
  font-weight: bolder;
  color: random();
  font-size: 25px;
}


.songInfoHeader{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-left: 1.5%;
  margin-top: 1.5%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.deleteBtn{
  width: 150px;
  border-radius: 10px;
  background-color: coral;
}

#removeSongBtn{
  display: flexbox;
  align-items: center;
  justify-content: center;
}


.commentContent{
  max-width: 1000px;
  border-radius: 20px;
  margin: 10px auto;
  background: black;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
}
