/* .singlePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 25px;
  border: 20px;
  padding: 20px;
  float: left;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 20px #1DB954;
  -moz-box-shadow: 0 0 20px #1DB954;
  box-shadow: 0 0 20px #1DB954;
  color: black;
  font-weight: bolder;
  text-decoration: none;
} */







.commentSection {
  display: flexbox;
  right: 0;
  padding-left: 5%;
}


.commentCreator {
  font-weight: bolder;
  color: random();
  font-size: 25px;
}


.songInfoHeader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-left: 1.5%;
  margin-top: 1.5%;
  position: absolute;
  top: 0px;
  left: 0px;
}


#removeSongBtn {
  display: flexbox;
  align-items: center;
  justify-content: center;
}


.commentContent {
  margin: 10px auto;
  text-align: left;
  font-weight: 900;
  font-family: arial;
}


.gif2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 200px;
}


.allInfo{
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 5%;
}

.audioPlayer{
  padding-left: 5%;
  width: 450px;
}


.songInfomation{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.title{
  font-family: "Monsterat", sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding-left: 20%;
  width: 1000px;
}

.artist{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 35px;
  padding-left: 20%;
  width: 600px;
}

.genre{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 35px;
  padding-left: 20%;
}


.deleteBtn{
  background: none;
  border: none;
  padding-left: 1%;
}

.editBtn{
  padding-left: 5%;
}


.commentHead{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.subComment{
  padding-bottom: 4%;
}
