/* TODO Add site wide styles */
body{
    background-color: black;
    color: white;
    background-image: url("https://res.cloudinary.com/dv3gxfdon/image/upload/v1649141518/cool-background_6_bmhtb6.png");
}
