.splash {
  align-items: center;
  display: flex;
  justify-content: center;
}


.songCard a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 25px;
  margin-top: 5%;
  border: 20px;
  padding: 20px;
  float: left;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 20px #1DB954;
  -moz-box-shadow: 0 0 20px #1DB954;
  box-shadow: 0 0 20px #1DB954;
  color: black;
  font-weight: bolder;
  text-decoration: none;
}





.fileBtn {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
}


.fileHead {
  margin-top: 10px;
  font-style: italic;
}



.songImg {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  justify-content: center;
}


.songText {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}


.heading1 {
  margin-top: 25%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 60px;
}


.wrapper {
  width: 90%;
  align-items: center;
}


.searchBar {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 30px;
  border: 2px solid #24252A;
}


.gif{
  margin-top: 20%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
