.splash {
  align-items: center;
  display: flex;
  justify-content: center;
}


/* .songCard a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 25px;
  margin-top: 5%;
  border: 20px;
  padding: 20px;
  float: left;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 20px #1DB954;
  -moz-box-shadow: 0 0 20px #1DB954;
  box-shadow: 0 0 20px #1DB954;
  color: black;
  font-weight: bolder;
  text-decoration: none;
} */





.fileBtn {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
}


.fileHead {
  margin-top: 10px;
  font-style: italic;
}



/* .songImg {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  justify-content: center;
} */


.songText {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}


.songTextArtist {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



.logo {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
}


.heading1 {
  margin-top: 5%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 60px;
}


.wrapper {
  width: 90%;
  align-items: center;
}




.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  padding-bottom: 5%;
}

.swiper-slide img {
  display: block;
  width: 250px;
}

/*
.swiper-wrapper {
  width: 45%;
} */

.pagination{
  padding-top: 5%;
}


.carousel{
  height: 600px;
  background-image: url("https://res.cloudinary.com/dv3gxfdon/image/upload/v1655255437/black-simple-music-channel-youtube-banner_optimized_z03s5w.png");
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-position: center;
}
