.userAuthNav{
  background-color: transparent;
  display: inline-block;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 46px;
  padding-top: 1.5%;
  padding-right: 1.5%;
}


.logOutBtn{
  width:fit-content;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 10pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.modalBtn a{
  display: flex;
  justify-content: flex-end;
}
